/*
Theme Name: Style
Description: Guess The Number Game - Starter Page
Author: April Rood
*/

:root {
  --blue-color: #5fbc91;
  --red-color: #d81128;
  --white-color: #ffffff;
}

* {
 overflow-y: hidden;
}
  
body {
  background-color: var(--white-color); 
  background-image: url("https://i.ibb.co/6H7GPLz/pngguru-com-1.png");
  background-position: 0 100px !important;
  background-size: contain;
  background-repeat: repeat-x; 
}

h3 { /* used in greeting text */
  color: black; 
  text-align: center;
}

.container {
  height: 100vh;
}


.buttonCol { /* where level buttons are displayed */
  color: var(--red-color);
  font-size: 25px;
  text-align: center;  
  background-color: rgba(255,255,255,.9);
  padding: 10px;
}

p { /* where level buttons are displayed */
  color: black;
  font-size: 20px;
  padding-top: 20px;
  text-align: center;  
}

.guessDiv { /* the div the "guess here" input is in */
  background-color: rgba(255,255,255,.9);
}

.hostPicDiv { /* div where the host's picture is displayed */

}


.submitButton {
  border: none;
  cursor: pointer;
  width: 80px;
}

.submitButton:hover {
  opacity: .5;
}
